/* Variables */
:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight-1: #C5C5C5;
    --basic-greyligth-2:#F2F6F8;
    --basic-background: #F1F5F7;
    --special-background-1: #F7F3EC;
    --special-background-2: #F9F5F0;
    --black: #000000;
    --white: #FFFFFF;
    --special-white: #F3F7F9;
    --special-yellow-1: #FFBF47;
    --special-yellow-2: #FFC047; 
    --special-blue: #3BBCE3;
    --special-darkblue-1: #293449;
    --special-darkblue-2: #32425C;
    --special-darkblue-3: #161D29;
    --special-lilac: #DC91D8;
    --special-green: #518534;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-red: #FF5357;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --gradient-grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
    --transparent: rgba(0, 0, 0, 0.0001);
    --border-1: #EAEAEA;
    --border-2: #E5E5E5;
    --last-price: #A9A9A9;
    --shadow-button: inset 0px -3px 0px #367315;
    --transparent-1: rgba(250, 250, 250, 0.3);
    --transparent-2: rgba(250, 250, 250, 0.25);
    --transparent-3: rgba(0, 0, 0, 0.3);
    --transparent-4: rgba(250, 250, 250, 0.5);
    --transparent-5: rgba(197, 197, 197, 0.3);
    --transparent-6: rgba(169, 169, 169, 0.3);
    --transparent-7: rgba(255, 255, 255, 0.5);
}


/* Global */


body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum","Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
    background-color: var(--basic-background);
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}

.form {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    background-color: transparent;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* Header */


.header {
    background-color: var(--transparent);
    color: var(--white);
    margin-bottom: 59px;
}

.header-wrap {
    background-color: var(--special-darkblue-1);
}

.container--footer {
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.logo:active {
    background-color: var(--error);
}

.search-form {
    color: var(--white);   
}

.search-form::before {
    content: "";
    background-image: url("../img/icon-search.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 17px;
    width: 17px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.search-form__input {
    font: inherit;
    color: var(--white);
    background-color: transparent;
    border: none;
}

.search-form__input:focus {
    background-color: var(--white);
    color: var(--black);
    border: none;
}

.header-bookmark::before {
    content: "";
    background-image: url("../img/icon-bookmark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 16px;
    width: 14px;
    margin-right: 9px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.3;
}

.header-bookmark:hover:before,
.header-bookmark:focus:before {
    opacity: 1;
}

.header-bookmark:active {
    color: var(--transparent-4);
    background-color: var(--special-darkblue-3);
}

.header-bookmark:active:before {
    opacity: 0.3;
    background-color: var(--special-darkblue-3);
}

.header-basket::before {
    content: "";
    background-image: url("../img/icon-cart.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.3;
}

.header-basket:hover:before,
.header-basket:focus:before {
    opacity: 1;
}

.header-basket:active {
    color: var(--transparent-4);
    background-color: var(--special-darkblue-3);
}

.header-basket:active:before {
    opacity: 0.3;
    background-color: var(--special-darkblue-3);
}

.header-order {
    background-color: var(--basic-green);
}

.header-order:hover,
.header-order:focus {
    background-color: var(--success);
}

.header-order:active {
    color: var(--transparent-7);
    background-color: var(--basic-green);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-title {    
    font-family: inherit;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: var(--basic-red);

}

.header-info__tel {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    border: 3px solid var(--white);
}

.header-info__tel::before {
    content: "";
    background-image: url("../img/icon-phone.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
    margin-right: 16px;
    display: inline-block;
    vertical-align: middle;
}

.header-info__adress {
    font-size: 14px;
    line-height: 24px;
    color: var(--special-darkblue-2);
}

.header-cabinet__button {
    display: inline-block;
    color: var(--black);
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--white);
    border: none;
    padding: 12px;
}

.header-cabinet__button:hover,
.header-cabinet__button:focus {
    color: var(--basic-red);
}

.header-cabinet__button:active {
    color: var(--basic-greylight-1);
}

.header-cabinet__button--enter::before {
    content: "";
    background-image: url("../img/icon-login.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 17px;
    width: 20px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle; 
}

.header-cabinet__button--enter:hover:before {
    background-color: var(--basic-grey);
}

.header-cabinet__link--name {
    color: var(--black);
}

.header-cabinet__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-cabinet__link {
    color: var(--special-darkblue-2);
    font-size: 16px;
    line-height: 18px;
}

.header-cabinet__link:hover,
.header-cabinet__link:focus {
    color: var(--basic-red);
}

.header-cabinet__link:active,
.header-cabinet__link--name:active {
    color: var(--basic-greylight-1);
}

.header-cabinet__link::before {
    content: "•";
    margin-right: 10px;
}


.header-nav__list {
    list-style: none;
    background-color: var(--special-darkblue-2);
    box-shadow: inset 0px -5px 0px var(--special-darkblue-1);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header-nav__item {
    height: 60px;
}

.header-nav__link:hover,
.header-nav__link:focus {
    background-color: var(--special-darkblue-1);
} 

.header-nav__link:active {
    opacity: 0.5;
}



/* Main */

.main {
    background-color: var(--white);
    margin-top: 59px;
}

.main-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;   
    font-weight: 400;
}

/* Products menu */

.products-menu__list {
    color: var(--white);
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
}

.products-menu__item {
    width: 300px;
    height: 123px;
}
.products-menu__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.products-menu__link {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--transparent-1);
    padding: 15px;
}

.products-menu__link:hover,
.products-menu__link:focus {
    background-color: var(--transparent-5);
}

.products-menu__link:active {
    background-color: var(--transparent-6);
}

.products-menu__item--materials {
    background-color: var(--special-yellow-1);
}

.products-menu__item--materials::after{   
    content: "";
    background-image: url("../img/icon-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 65px;
    width: 44px;
    display: inline-block;
    vertical-align: middle; 
}

.products-menu__item--tools {
    background-color: var(--special-blue);
}

.products-menu__item--tools::after{   
    content: "";
    background-image: url("../img/icon-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 61px;
    width: 75px;
    display: inline-block;
    vertical-align: middle; 
}

.products-menu__item--technics {
    background-color: var(--special-lilac);
}

.products-menu__item--technics::after{   
    content: "";
    background-image: url("../img/icon-3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 62px;
    width: 78px;
    display: inline-block;
    vertical-align: middle; 
}

.products-menu__item--discount {
    background-color: var(--special-greenlight);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.products-menu__item--discount::after{   
    content: "";
    background-image: url("../img/icon-4.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 72px;
    width: 59px;
    display: inline-block;
    vertical-align: middle; 
}

.products-menu__item--delivery {
    background-color: var(--special-yellow-2);
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.products-menu__item--delivery::after{   
    content: "";
    background-image: url("../img/icon-5.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 63px;
    width: 78px;
    display: inline-block;
    vertical-align: middle; 
}

/* Slider */

.slider {
    color: var(--white);
}

.slider__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.slider__subtitle {
    font-size: 18px;
    line-height: 24px;
}

.slider__wrap {
    background-color: var(--transparent-2);
}

/* Main Button */

.main-button {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-red);
    width: 192px;
    height: 38px;
    padding: 12px;
    border: none;
}

.main-button:active {
    background-color: var(--error);
}

/* Popular products and popular manufacture */

.popular-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.popular-wrap {
    background-color: var(--special-background-2);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popular-products__list,
.manufactures__list {
    list-style: none;
    margin: 0;
    padding: 0;

}

.popular-products__list--flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.manufactures__list--flex {
    display: flex;
    flex-wrap: wrap;
}

.manufactures__item {
    width: 220px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 1px solid var(--border-1);
}


.manufactures__item:hover,
.manufactures__item:focus {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.manufactures__item:active {
    opacity: 0.5;
}

/* Services */
.services {
    background-color: var(--basic-background);
}

.services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 80px;
}

.services__wrap {
    display: flex;
    flex-direction: row-reverse;
}

.services__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--special-darkblue-2);
}

.services__text {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    width: 400px;
    margin-bottom: 70px;
}

.services__button {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--white);
    width: 140px;
    height: 61px;
    border: none;
    background-color: var(--special-darkblue-2);
    outline: none;
}

.services__button:hover,
.services__button:focus {
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
    background-color: var(--special-darkblue-1);
}

.services__button:active {
    background-color: var(--white);
    box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
    color: var(--special-darkblue-2);
    outline: none;
}

.main-button--credit {
    background-color: var(--special-red);
    border-radius: 2px;

    outline: none;
}

/*  About and Contact */

.about {
    width: 458px;
}

.contact {
    width: 300px;
    margin-bottom: 70px;
}

.contact-text {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.about__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about__item::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
    margin-right: 12px;
    vertical-align: middle;
}

.main-button--write {
    width: 245px;
}

.container--wrap {
    display: flex;
    justify-content: space-between;
}


/* Footer*/


.footer {
    background-color: var(--special-darkblue-2);
    color: var(--white);
}

.logo--footer {
    display: block;
    padding-top: 20px;
    padding-right: 41px;
    padding-bottom: 25px;
    padding-left: 41px;
    margin-bottom: 22px;
    width: 220px;
}

.container--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
    text-decoration-line: underline;
}

.footer-nav__link--yellow  {
    color: var(--special-yellowlight);
}

.footer-nav__link:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-nav {
    color: var(--special-white);
}

.footer-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-nav__item {
    margin-right: 58px;
    margin-bottom: 34px;
}

.footer-info {
    font-size: 16px;
    line-height: 18px;
}


.footer-info--down {
    background-color: var(--special-darkblue-1);
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
}


.social__link--vk::before {
    content: "";
    background-image: url("../img/icon-vk.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 15px;
    width: 26px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}


.social__link--fb::before {
    content: "";
    background-image: url("../img/icon-fb.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 22px;
    width: 12px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.social__link--insta::before {
    content: "";
    background-image: url("../img/icon-insta.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.social__link--vk:hover:before,
.social__link--vk:focus:before,
.social__link--vk:active:before,
.social__link--fb:hover:before,
.social__link--fb:focus:before,
.social__link--fb:active:before,
.social__link--insta:hover:before,
.social__link--insta:focus:before,
.social__link--insta:active:before {
    background-color: var(--basic-red);
}

.developer__link {
    color: var(--special-yellowlight);
}

.developer__link:hover,
.developer__link:focus {
    text-decoration-line: underline;
}

.developer__link:active {
    color: var(--error);
}



/* Catalog */



.catalog-main {
    background-color: var(--white);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;

}

.catalog-title {
    font-family: "Cuprum","Roboto", sans-serif;;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--special-darkblue-2);
    background-color: var(--basic-greyligth-2);
}

.catalog-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Breadcrumbs */


.breadcrumbs__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.breadcrumbs__link {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
    margin-right: 15px;
}

.breadcrumbs__item::after {
    content: "";
    background-image: url("../img/icon-right-small.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 12px;
    width: 8px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; 
}


/*  Filter and Sort */

.filter {
    text-transform: uppercase;
    width: 220px;

}

.filter-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--special-background-1);
}


.filter__legend {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    border: none;
}

.filter__list,
.sort__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter__item {
    font-size: 15px;
    line-height: 19px;
}
.filter__button {
    border: 1px solid var(--border-2);
    background-color: var(--white);
}

.sort {
    background-color: var(--special-background-1);
    text-transform: uppercase;
    width: 700px;
    display: flex;
}

.sort__list {
    display: flex;
}

.sort__link {
    font-size: 13px;
    line-height: 18px;
    color: var(--transparent-3);
    border-bottom: 1px dotted var(--basic-red);
}
.sort__link:hover,
.sort__link:focus {
    color:var(--black);
    border-bottom: 1px solid var(--basic-red);
}

.sort__link:active {
    color: var(--basic-red);
    border: none;
}

.sort__link--active {
    color: var(--basic-red);
    border: none;
}

/*  Card Product  */

.drills {
    width: 700px;
}

.drills__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}


.card-product {
    border: 1px solid var(--border-1);
    font-weight: 700;
    text-align: center;
    width: 220px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.card-product__title {
    font-size: 18px;
    line-height: 20px;  
}

.card-product__price {
    font-size: 17px;
    line-height: 18px;
}

.card-product__price--last {
    color: var(--last-price);
    text-decoration-line: line-through;
}
.card-product__price--now {
    color: var(--white);
    background-image: url("../img/red-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 44px 10px 32px;
}

.card-product__button {
    font-family: "Cuprum","Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    width: 135px;
    height: 38px;
    border-radius: 2px;
}

.card-product__button--buy {
    color: var(--white);
    border: none;
    background-color: var(--basic-green);
    box-shadow: var(--shadow-button);
}

.card-product__button--buy:hover,
.card-product__button--buy:focus {
    background-color: var(--success);
    outline: none;
}

.card-product__button--buy:active {
    background-color: var(--special-green);
    outline: none;
}

.card-product__button--buy::before  {
    content: "";
    background-image: url("../img/icon-cart.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; 
    opacity: 0.3;
}

.card-product__button--bookmark {
    color: var(--special-darkblue-2);
    border: 3px solid var(--basic-green);
}

.card-product__button--bookmark:hover,
.card-product__button--bookmark:focus {
    border: 3px solid var(--special-darkblue-2);
}

.card-product__button--bookmark:active {
    opacity: 0.5;
}

/*  About drills */


.about-drills {
    background-color: var(--basic-background);
}

.about-drills__text {
    font-size: 13px;
    line-height: 24px;
}

.catalog-title--black {
    color: var(--black);
}
/* Pagination */

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.pagination__link {
    color: var(--black);
    border: 1px solid var(--border-2);
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
}

.pagination__link--active {
    background-color: var(--basic-red);
    color: var(--white);
}

.pagination__link:hover,
.pagination__link:focus {
    border: 1px solid var(--basic-greylight-1);
}

.pagination__link:active {
    border: 1px solid var(--basic-red);
}

.pagination__item {
    width: 38px;
    height: 38px;
}

.pagination__item--next {
    width: 140px;
}

/* Popup */

.popup-basket,
.popup-map,
.popup-form-order {
    display: none;
}

