/* Variables */
:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight-1: #C5C5C5;
    --basic-greyligth-2:#F2F6F8;
    --basic-background: #F1F5F7;
    --special-background-1: #F7F3EC;
    --special-background-2: #F9F5F0;
    --special-background-3: #F1F1F1;
    --black: #000000;
    --white: #FFFFFF;
    --special-white: #F3F7F9;
    --special-yellow-1: #FFBF47;
    --special-yellow-2: #FFC047; 
    --special-blue: #3BBCE3;
    --special-darkblue-1: #293449;
    --special-darkblue-2: #32425C;
    --special-darkblue-3: #161D29;
    --special-darkblue-4: #405069;
    --special-lilac: #DC91D8;
    --special-green: #518534;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-red: #FF5357;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --gradient-grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
    --transparent: rgba(0, 0, 0, 0.0001);
    --border-1: #EAEAEA;
    --border-2: #E5E5E5;
    --last-price: #A9A9A9;
    --shadow-button: inset 0px -3px 0px #367315;
    --transparent-1: rgba(250, 250, 250, 0.3);
    --transparent-2: rgba(250, 250, 250, 0.25);
    --transparent-3: rgba(0, 0, 0, 0.3);
    --transparent-4: rgba(250, 250, 250, 0.5);
    --transparent-5: rgba(197, 197, 197, 0.3);
    --transparent-6: rgba(169, 169, 169, 0.3);
    --transparent-7: rgba(255, 255, 255, 0.5);
}


/* Global */


body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum","Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
    background-color: var(--basic-background);
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}

.form {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    background-color: transparent;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* Header */


.header {
    background-color: var(--transparent);
    color: var(--white);
    margin-bottom: 61px;
}

.header-wrap {
    background-color: var(--special-darkblue-1);
    min-height: 42px;
    margin-bottom: 45px;
}

.header-wrap--catalog {
    min-height: 43px;
}

.container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    padding: 12px 57px 5px 55px;
}
.logo:active {
    background-color: var(--error);
}

.search-form {
    color: var(--white);   
    margin-left: -4px;
    margin-right: 11px;
    width: 232px;
    padding-right: 11px;
    padding-left: 10px;
}

.search-form::before {
    content: "";
    background-image: url("../img/icon-search.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 17px;
    width: 17px;
    display: inline-block;
    vertical-align: middle;
}

.search-form__input {
    font: inherit;
    color: var(--white);
    background-color: transparent;
    border: none;
    width: 203px;
    min-height: 40px;
}

.search-form__input:focus {
    background-color: var(--white);
    color: var(--black);
    border: none;
    outline: 0;
}

.header-bookmark {
    padding: 8px 7px 9px 2px;
}

.header-basket {
    padding: 9px 13px 8px 30px;
}

.header-bookmark::before {
    content: "";
    background-image: url("../img/icon-bookmark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 16px;
    width: 14px;
    margin-right: 9px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.3;
}

.header-bookmark:hover:before,
.header-bookmark:focus:before {
    opacity: 1;
}

.header-bookmark:active {
    color: var(--transparent-4);
    background-color: var(--special-darkblue-3);
}

.header-bookmark:active:before {
    opacity: 0.3;
    background-color: var(--special-darkblue-3);
}

.header-basket::before {
    content: "";
    background-image: url("../img/icon-cart.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.3;
}

.header-basket:hover:before,
.header-basket:focus:before {
    opacity: 1;
}

.header-basket:active {
    color: var(--transparent-4);
    background-color: var(--special-darkblue-3);
}

.header-basket:active:before {
    opacity: 0.3;
    background-color: var(--special-darkblue-3);
}

.header-order {
    background-color: var(--basic-green);
    padding: 9px 16px 9px 19px;
}

.header-order:hover,
.header-order:focus {
    background-color: var(--success);
}

.header-order:active {
    color: var(--transparent-7);
    background-color: var(--basic-green);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 39px;
}

.header-title {    
    font-family: inherit;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: var(--basic-red);
    width: 197px;
    margin: 0;
    margin-left: 30px;

}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.header-info__tel {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    border: 3px solid var(--white);
    padding: 5px 49px 8px 37px;
}

.header-info__tel::before {
    content: "";
    background-image: url("../img/icon-phone.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
    margin-right: 16px;
    display: inline-block;
    vertical-align: middle;
}

.header-info__adress {
    font-size: 14px;
    line-height: 24px;
    color: var(--special-darkblue-2);
    margin: 0px;
    margin-right: 6px;
}

.header-cabinet__button {
    display: inline-block;
    color: var(--black);
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--white);
    border: none;
    padding: 12px;
    padding-right: 12px;
    padding-left: 13px;
    margin-bottom: 4px;
}

.header-cabinet__button--enter {
    margin-right: 12px;
}

.header-cabinet__button:hover,
.header-cabinet__button:focus {
    color: var(--basic-red);
}

.header-cabinet__button:active {
    color: var(--basic-greylight-1);
}

.header-cabinet__button--enter::before {
    content: "";
    background-image: url("../img/icon-login.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 17px;
    width: 20px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle; 
}

.header-cabinet__button--enter:hover:before {
    background-color: var(--basic-grey);
}

.header-cabinet__link--name {
    color: var(--black);
}

.header-cabinet__link--name::before {
    content: "";
    background-image: url("../img/icon-user.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 18px;
    width: 20px;
    margin-right: 16px;
    display: inline-block;
    vertical-align: middle; 
}

.header-cabinet__link--logout::after {
    content: "";
    background-image: url("../img/icon-logout.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 17px;
    width: 20px;
    margin-left: 15px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle; 
}

.header-cabinet__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header-cabinet__link--bullit {
    margin-left: 12px;
}

.header-cabinet__link {
    color: var(--special-darkblue-2);
    font-size: 16px;
    line-height: 18px;
}

.header-cabinet__link:hover,
.header-cabinet__link:focus {
    color: var(--basic-red);
}

.header-cabinet__link:active,
.header-cabinet__link--name:active {
    color: var(--basic-greylight-1);
}

.header-cabinet__link--bullit::before {
    content: "•";
    margin-right: 15px;
}


.header-nav__list {
    list-style: none;
    background-color: var(--special-darkblue-2);
    box-shadow: inset 0px -5px 0px var(--special-darkblue-1);
    margin: 0;
    padding-right: 18px;
    padding-left: 24px;
    display: flex;
    justify-content: space-around;
}

.header-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav__link {
    display: inline-block;
    padding: 18px;
}


.header-nav__link:hover,
.header-nav__link:focus {
    background-color: var(--special-darkblue-1);
} 

.header-nav__link:active {
    opacity: 0.5;
}



/* Main */

.main {
    background-color: var(--white);
    margin-top: 59px;
}

.main-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;   
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
}


/* Products menu */


.products-menu {
    margin-bottom: 59px;
}

.products-menu__list {
    color: var(--white);
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
}


.products-menu__item {
    position: relative;
    padding: 22px;
}
.products-menu__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 19px;
}

.products-menu__link {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--transparent-1);
    padding: 10px 24px 10px 23px;
}


.products-menu__link--tools {
    padding-left: 27px;
    padding-right: 26px;
}

.products-menu__link--technics {
    padding-left: 29px;
    padding-right: 30px;
}


.products-menu__link--delivery {
    padding-left: 37px;
    padding-right: 38px;
}

.products-menu__link:hover,
.products-menu__link:focus {
    background-color: var(--transparent-5);
}

.products-menu__link:active {
    background-color: var(--transparent-6);
}

.products-menu__item--materials {
    background-color: var(--special-yellow-1);
}

.products-menu__item--materials::after{   
    content: "";
    background-image: url("../img/icon-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 65px;
    width: 44px;
    display: inline-block;
    vertical-align: middle; 
    position: absolute;
    top: 31px;
    right: 43px;
}

.products-menu__item--tools {
    background-color: var(--special-blue);
}

.products-menu__item--tools::after{   
    content: "";
    background-image: url("../img/icon-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 61px;
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 34px;
    right: 31px;
}

.products-menu__item--technics {
    background-color: var(--special-lilac);
}

.products-menu__item--technics::after{   
    content: "";
    background-image: url("../img/icon-3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 62px;
    width: 78px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 31px;
    right: 31px; 
}

.products-menu__item--discount {
    background-color: var(--special-greenlight);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.products-menu__item--discount::after{   
    content: "";
    background-image: url("../img/icon-4.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 72px;
    width: 59px;
    display: inline-block;
    vertical-align: middle; 
    position: absolute;
    top: 27px;
    right: 45px;
}

.products-menu__item--delivery {
    background-color: var(--special-yellow-2);
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.products-menu__item--delivery::after{   
    content: "";
    background-image: url("../img/icon-5.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 63px;
    width: 78px;
    display: inline-block;
    vertical-align: middle; 
    position: absolute;
    top: 32px;
    right: 31px;

}

/* Slider */

.slider {
    color: var(--white);
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.slider__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    position: relative;
}

.slider__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 23px;
    margin-left: 24px;

}

.slider__subtitle {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-left: 24px;
    margin-top: 6px;
}

.slider__wrap {
    background-color: var(--transparent-2);
}

.slider__item--workman1 {
    display: block;
    background-image: url("../img/workman-1.jpg");
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

/* Main Button */

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    width: 192px;
    height: 38px;
    border: none;
}

.main-button:active {
    background-color: var(--error);
}

.main-button--slider {
    margin-left: 25px;
    margin-top: 112px;
}



/* Popular products and popular manufactures */


.popular-products {
    margin-bottom: 70px;
}

.manufactures {
    margin-bottom: 50px;
}

.popular-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

.popular-wrap {
    background-color: var(--special-background-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 27px;
    padding-top: 25px;
    padding-right: 14px;
}

.popular-products__list,
.manufactures__list {
    list-style: none;
    margin: 0;
    padding: 0;

}

.popular-products__list--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.manufactures__list--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-products__item {
    box-sizing: border-box;
    display: flex;
}

.manufactures__item {
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
    border: 1px solid var(--border-1);
}

.manufactures__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 145px;
}


.manufactures__item:hover,
.manufactures__item:focus {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.manufactures__item:active {
    opacity: 0.5;
}



/* Services */



.services {
    background-color: var(--basic-background);
    margin-bottom: 70px; 
    padding: 57px;
    padding-bottom: 4px;
}

.services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 80px;
}


.services__wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}

.services__wrap::after {
    content: "";
    background-image: url("../img/shadow.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 279px;
    width: 10px;
    display: block;
    position: absolute;
    left: 230px;
    top: -49px;
}


.services__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--special-darkblue-2);
    margin: 0;
    margin-bottom: 30px;
}

.services__text {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    width: 400px;
}

.services__text--main {
    margin-bottom: 68px;
}

.services__text--delivery {
    width: 280px;
}

.services__button {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--white);
    width: 140px;
    height: 61px;
    border: none;
    background-color: var(--special-darkblue-2);
    outline: none;
    width: 240px;
    box-shadow: 0px 1px 0px var(--special-darkblue-1), inset 0px 1px 0px var(--special-darkblue-4);
    text-align: start;
    padding-left: 22px;
}

.services__button--active {
    background-color: var(--white);
    box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
    color: var(--special-darkblue-2);
    outline: none;
}

.services__item {
    background-repeat: no-repeat;
    background-position: 151px 19px;
    width: 619px;
    min-height: 283px;
}

.services__item--delivery {
    background-image: url("../img/car.png");
}

.services__item--garant {
    background-image: url("../img/garant.png");
}

.services__item--credit {
    background-image: url("../img/credit.png");
}


.services__button:hover,
.services__button:focus {
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
    background-color: var(--special-darkblue-1);
}

.services__button:active {
    background-color: var(--white);
    box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
    color: var(--special-darkblue-2);
    outline: none;
}

.main-button--credit {
    background-color: var(--special-red);
    border-radius: 2px;

    outline: none;
}

/*  About and Contact */


.container--wrap {
    margin-bottom: 70px;
}

.about {
    width: 458px;
}

.contact {
    width: 300px;
}

.contact-text {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 27px;
}

.contact__map {
    margin-bottom: 18px;
}

.contact-text--about {
    margin-bottom: 2px;
}

.contact-text--contact {
    margin-bottom: 33px;
}

.about__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about__item {
    margin-bottom: 12px;
}

.about__item::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
    margin-right: 12px;
    vertical-align: middle;
}

.main-button--about {
    margin-top: 19px;
    width: 220px;
}

.main-button--write {
    width: 300px;
}

.container--wrap {
    display: flex;
    justify-content: space-between;
}


/* Footer*/


.footer {
    background-color: var(--special-darkblue-2);
    color: var(--white);
}

.logo--footer {
    display: inline-block;
    padding-top: 20px;
    padding-right: 41px;
    padding-bottom: 25px;
    padding-left: 41px;
    margin-bottom: 18px;
}

.container--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 54px;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
    text-decoration-line: underline;
}

.footer-nav__link--yellow  {
    color: var(--special-yellowlight);
}

.footer-nav__link:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-nav {
    color: var(--special-white);
    position: absolute;
    top: 38px;
    right: -42px;

}

.footer-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.footer-nav__item {
    margin-right: 58px;
    margin-bottom: 34px;
}

.footer-info {
    font-size: 18px;
    line-height: 24px;
}

.footer-info__adress {
    margin: 0;
    margin-left: 2px;
}


.footer-info--down {
    background-color: var(--special-darkblue-1);
}

.copyright {
    font-size: 16px;
    line-height: 18px;
    margin-top: 36px;
    margin-right: 30px;
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.social__item {
    margin-left: 19px;
    margin-top: 20px;
}


.social__link--vk::before {
    content: "";
    background-image: url("../img/icon-vk.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 15px;
    width: 26px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}


.social__link--fb::before {
    content: "";
    background-image: url("../img/icon-fb.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 22px;
    width: 12px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.social__link--insta::before {
    content: "";
    background-image: url("../img/icon-insta.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.social__link--vk:hover:before,
.social__link--vk:focus:before,
.social__link--vk:active:before,
.social__link--fb:hover:before,
.social__link--fb:focus:before,
.social__link--fb:active:before,
.social__link--insta:hover:before,
.social__link--insta:focus:before,
.social__link--insta:active:before {
    background-color: var(--basic-red);
}

.developer {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
    margin-top: 16px;
}

.developer__item {
    margin-right: 14px;
}

.developer__item--feedback {
    margin-right: 51px;
}

.developer__link {
    color: var(--special-yellowlight);
}

.developer__link:hover,
.developer__link:focus {
    text-decoration-line: underline;
}

.developer__link:active {
    color: var(--error);
    text-decoration: none;
}



/* Catalog */



.catalog-main {
    background-color: var(--white);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;

}

.catalog-title {
    font-family: "Cuprum","Roboto", sans-serif;;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--special-darkblue-2);
    background-color: var(--basic-greyligth-2);
}

.catalog-title--main-product {
    display: flex;
    align-items: center;
    min-height: 89px;
    padding-left: 29px;
}

.catalog-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}

/* Breadcrumbs */


.breadcrumbs {
    margin-bottom: 20px;
    margin-top: 15px;
}

.breadcrumbs__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.breadcrumbs__link {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
    margin-right: 15px;
}

.breadcrumbs__item::after {
    content: "";
    background-image: url("../img/icon-right-small.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 12px;
    width: 8px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; 
}


/*  Filter and Sort */

.filter {
    text-transform: uppercase;
    width: 220px;

}

.filter-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--special-background-1);
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 38px;
    padding-left: 19px;
    padding-right: 141px;
}

.filter-title--sort {
    padding: 0;
    margin-left: 19px;
    margin-right: 141px; 
}


.filter__fieldset {
    border: none;
}

.filter__legend {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    border: none;
}

.filter__list,
.sort__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter__item {
    font-size: 15px;
    line-height: 19px;
}
.filter__button {
    border: 1px solid var(--border-2);
    background-color: var(--white);
}

.sort {
    background-color: var(--special-background-1);
    text-transform: uppercase;
    width: 700px;
    display: flex;
    margin-bottom: 28px;
}

.sort__item {
    margin-right: 68px;
}

.sort__list {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.sort__link {
    font-size: 13px;
    line-height: 18px;
    color: var(--transparent-3);
    border-bottom: 1px dotted var(--basic-red);
}
.sort__link:hover,
.sort__link:focus {
    color:var(--black);
    border-bottom: 1px solid var(--basic-red);
}

.sort__link:active {
    color: var(--basic-red);
    border: none;
}

.sort__link--active {
    color: var(--basic-red);
    border: none;
}

/*  Card Product  */

.drills {
    width: 700px;
    margin-bottom: 18px;
}

.drills__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.drills__item {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 20px;
}

.card-product {
    border: 1px solid var(--border-1);
    font-weight: 700;
    text-align: center;
    width: 220px;
    min-height: 318px;
}

.card-product__title {
    font-size: 18px;
    line-height: 20px;  
}

.card-product__price {
    font-size: 17px;
    line-height: 18px;
}

.card-product__price--last {
    color: var(--last-price);
    text-decoration-line: line-through;
}
.card-product__price--now {
    color: var(--white);
    background-image: url("../img/red-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 44px 10px 32px;
}

.card-product__button {
    font-family: "Cuprum","Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    width: 135px;
    height: 38px;
    border-radius: 2px;
    display: none;  /*Кнопки спрятаны*/
}

.card-product__button--buy {
    color: var(--white);
    border: none;
    background-color: var(--basic-green);
    box-shadow: var(--shadow-button);
}

.card-product__button--buy:hover,
.card-product__button--buy:focus {
    background-color: var(--success);
    outline: none;
}

.card-product__button--buy:active {
    background-color: var(--special-green);
    outline: none;
}

.card-product__button--buy::before  {
    content: "";
    background-image: url("../img/icon-cart.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; 
    opacity: 0.3;
}

.card-product__button--bookmark {
    color: var(--special-darkblue-2);
    border: 3px solid var(--basic-green);
}

.card-product__button--bookmark:hover,
.card-product__button--bookmark:focus {
    border: 3px solid var(--special-darkblue-2);
}

.card-product__button--bookmark:active {
    opacity: 0.5;
}


/*  About drills */


.about-drills {
    background-color: var(--basic-background);
    padding: 70px;
    
}

.about-drills__text {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}

.catalog-title--about-drills {
    color: var(--black);
    margin: 0;
    padding-bottom: 25px;
}





/* Pagination */

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination__item {
    margin-right: 8px;
}

.pagination__link {
    color: var(--black);
    border: 1px solid var(--border-2);
    border-radius: 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
}

.pagination__link--active {
    background-color: var(--basic-red);
    color: var(--white);
}

.pagination__link:hover,
.pagination__link:focus {
    border: 1px solid var(--basic-greylight-1);
}

.pagination__link:active {
    border: 1px solid var(--basic-red);
}

.pagination__link--next {
    width: 140px;
}

/* Popup */



.popup-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-button-close {
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    border:none;
    outline: none;
}


/* Popup-form-order */


.popup-form-order {
    width: 620px;
    min-height: 430px;
    background-color: var(--white);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    font-family: "Cuprum","Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border-top: 7px solid var(--special-red);
    display: none;
}

.popup-form-order__container {
    width: 459px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.popup-form-order__form {
    display: flex;
    flex-wrap: wrap;

}

.popup-form-order__item {
    margin-top: 0;
    margin-bottom: 10px;  
}

.popup-form-order__label {
    display: block;
}

.popup-form-order__input {
    width: 220px;
    background-color: transparent;
    box-sizing: border-box;
}

.popup-form-order__textarea {
    width: 460px;
    min-height: 114px;
} 



/* Popup-map */


.popup-map {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 7px solid var(--special-red);
    display: none;
    position: relative;
}

.popup-button-close--map {
    top: 17px;
    right: 10px;
    position: absolute;
}





/* Popup-basket */


.popup-basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    width: 620px;
    height: 282px;
    background-color: var(--white);
    position: relative;
    border-top: 7px solid var(--special-red);
    display: none;
}

.popup-button-close--basket {
    position: absolute;
    top: 18px;
    right: 11px;
}

.popup-basket__wrap {
    background-color: var(--special-background-3);

}

